<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendamento Concluído | BarberDev</title>
  <link rel="stylesheet" href="./../static/agendamento-concluido.css">
</head>

<body>

  <main>
    <section>
      <div class="img-pai">
        <a class="logo-img-a" href="./index.html"><img src="./../static/imgs/logo-3.png" alt=""></a>
      </div>
      <div class="pai-txt">
        <h1>Agendamento concluído</h1>
      </div>

      <div class="pai-button">
        <a href="./index.html"><button>Voltar</button></a>
        <a href="./revisar.html"><button>Revisar</button></a>
      </div>
    </section>
  </main>

</body>

</html>
